   

   .tile {
    width: 100px;
    height: 100px;
    padding: 1em;
    border: 1px solid #ddd;
    display: inline-block;
    background-color: black;
  }


  .tile:hover {
      border: 3px solid red;
  }

  .white {
    background-color: white;
       
   }

  .red {
      background-color: red;
  }

  .blue {
    background-color: blue;
  }
  .purple {
    background-color: purple;;
  }

  .choice {
      background-color: black;
  }

  

